.info {
  max-width: 850px;
  margin: 5rem auto;
  padding: 0 50px;
  text-align: left;
}
.sectionInfo {
  margin-top: 5rem;
  &__title::before {
    content: '🍅';
  }
}

@media (max-width: 750px) {
  .info__title {
    text-align: center;
  }
}
