@import '../variables.scss';
.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $main-color;
  &__title {
    color: $white;
  }
}


