.FormContainer {
  position: relative;
  max-width: 400px;
  margin: 60px auto 0 auto;
  background-color: rgb(248, 241, 241);
  padding: 30px;
  text-align: left;
  border-radius: 10px;
}
.closeButton {
  position: absolute;
  right: -40px;
  top: -40px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  background-color: transparent;
  cursor: pointer;
}
.submitButton {
  background-color: blue;
  border: none;
  border-radius: 6px;
  padding: 5px;
  color: whitesmoke;
  font-size: 1rem;
  cursor: pointer;
  padding: 10px;
}
