@import '../variables.scss';
.Main {
  min-height: 100vh;
  padding: 1rem 2rem 1rem 2rem;
  &__title {
    font-family: 'Saira Stencil One', cursive;
    font-size: 3rem;
    color: $white;
  }
}

.navbar {
  display: flex;
  justify-content: right;
  &__button--options {
    border: none;
    border-radius: 5px;
    padding: 8px;
    font-size: 1rem;
    color: $white;
    cursor: pointer;
  }
  &__button--options:active {
    transform: translateY(3px);
  }
}

.Pomodoro {
  max-width: 800px;
  margin: auto;
}

.Tabs {
  display: flex;
  justify-content: space-around;
  margin: 50px 0;
}
.tab:nth-child(1) {
  border-right: 3px solid $white;
}
.tab {
  width: 100%;
  border: none;
  border-bottom: 3px solid $white;
  padding: 10px;
  font-size: 1.5rem;
  background-color: transparent;
  color: $white;
  cursor: pointer;
}

.tab:disabled {
  cursor: default;
}

.session__background {
  background-color: $main-color;
}

.break__background {
  background-color: $break-color;
}
.session__background--light {
  background: $main-color-light;
}

.break__background--light {
  background-color: $break-color-light
}

.session__background--dark {
  border-radius: 5px 0 0 0;
  background-color: $main-color-dark;
}

.break__background--dark {
  border-radius: 0 5px 0 0;
  background-color: $break-color-dark;
}

.fadeTransition {
  transition: background-color 0.5s ease-in-out;
}
