.Control-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Control-number {
    margin: 0 8px
}

.Control-container > button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid black;
}