.Footer {
  padding: 20px 50px 30px 50px;
  background-color: rgb(245, 241, 241);
}
.marketing {
  display: flex;
  justify-content: space-between;
}
.contacto,
.social {
  margin: 0 auto auto auto;
}
.contacto a {
  font-weight: 600;
}
.social-icons {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 750px) {
  .marketing {
    flex-direction: column;
  }
  .social {
    margin-bottom: 30px;
  }
}
