@import './variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $main-color;
}

* {
  box-sizing: border-box;
}

@each $tag, $margin, $size,
  $weight in (h1 1.5rem 3rem 800, h2 1.25rem 1.5rem 600, h3 1.25rem 1.25rem 600, p 1rem 1rem 400)
{
  #{$tag} {
    margin-bottom: $margin;
    font-size: $size;
    font-weight: $weight;
  }
}

h1 {
  margin-block-start: 0;
}
