.mainTitle {
  font-family: 'Saira Stencil One', cursive;
  color: whitesmoke;
  font-size: 3rem;
}

.navbar {
  display: flex;
  justify-content: right;
}
.Main {
  padding: 1rem 2rem 1rem 2rem;
  min-height: 100vh;
}
.optionsButton {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: whitesmoke;
  padding: 8px;
  border-radius: 5px;
}
.optionsButton:active {
  transform: translateY(3px);
}

.Pomodoro {
  max-width: 800px;
  margin: auto;
}

.tabs {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
}
.tabs > .tab:nth-child(1) {
  border-right: 3px solid whitesmoke;
}

.tab {
  cursor: pointer;
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 1.5rem;
  width: 100%;
  border-bottom: 3px solid whitesmoke;
  padding: 10px;
}

.tab:disabled {
  cursor: default;
}

.session__background--primary {
  background-color: rgb(214, 86, 86);
}

.break__background--primary {
  background-color: rgb(51, 145, 199);
}
.session__background--secondary {
  background: rgb(231, 123, 123);
}

.break__background--secondary {
  background-color: rgb(128, 190, 226);
}

.session__background--tertiary {
  background-color: #d43131;
  border-radius: 5px 0 0 0;
}

.break__background--tertiary {
  background-color: #0e74af;
  border-radius: 0 5px 0 0;
}

.fadeTransition {
  transition: background-color 0.5s ease-in-out;
}
