$main-color: rgb(214, 86, 86);
$break-color: rgb(51, 145, 199);
$main-color-light: rgb(231, 123, 123);
$break-color-light: rgb(128, 190, 226);
$main-color-dark: rgb(212, 49, 49);
$break-color-dark: rgb(14, 116, 175);
$white: whitesmoke;
$white-gray: rgb(241, 241, 241);
$gray: rgb(220, 220, 220);
$submit-color: blue;
